@using DataSibTerminal.Models;
@model MainViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<Ticket> tickets = ViewData["ticket"] as List<Ticket>;
    List<Message> messages = ViewData["message"] as List<Message>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="/lib/leftBar.css">
    <link rel="stylesheet" href="/lib/mainPage.css">
    <link rel="stylesheet" href="/lib/middleBar.css ">
    <link rel="stylesheet" href="/lib/rightBar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftMenu">
            <button class="hamburgerMenu">
                <img src="styles/svg/menu.svg" class="menuSVG">
            </button>
            <button class="adminProfile">
                <img src="styles/example/adminPfp.jpg" class="adminPfp">
            </button>
        </div>
        <div class="searchNInbox">
            <div class="searchbar">
                <input class="searchbar-input" type="search" placeholder="Search">
            </div>
            <div class="backing">
                <ul class="inbox">
                    @if (tickets != null)
                    {
                        @foreach (var ticket in tickets)
                        {
                            if (ticket != null)
                            {
                                <li>
                                    <button class="msg-button">
                                        <div class="msg">
                                            <h2 class="msgSenderName">
                                                @ticket.Username
                                            </h2>
                                            <h3 class="msgSubject">
                                                @ticket.AnydeskId
                                            </h3>
                                            <p class="msgText">
                                                @ticket.Description
                                            </p>
                                            <p class="right">@ticket.CreationTime</p>
                                        </div>
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <p>Invalid ticket data</p>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li>
                            <p>No ticket data available</p>
                        </li>
                    }


                </ul>
            </div>
        </div>
        <div class="textBox">
            <div class="topBar">
                <div class="fillerName1">
                </div>
            </div>
           
            <form asp-action="SendMessage" method="post">
                <div class="inputMsg">
                    <input asp-for="message.Message1" class="inputMsg-input" id="sendMsg" placeholder="Message">

                    <button class="sendMsg-button" type="submit" form="#sendMsg">Send</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
